<!DOCTYPE html>
<!--<html lang="en">-->
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}/static/index.css">
    <meta charset="UTF-8">
<!--    <title>Привет, МирМир!</title>-->
</head>
<body>
<div class="header">
<!--    <img src="{{ STATIC_URL }} /logo.svg" />-->
    {% if request.user.is_authenticated %}
    <p>Hello! {{user}}</p>
    {% else %}
    <p>Привет гость!</p>
    {% endif %}

</div>
{% if user.is_authenticated %}
    <div class='autorization_block'>
        <div id="article_button"><a href="{% url 'article_new' %}" class="a_sig">Написать статью</a></div>
        <div id="logou"><a href="{% url 'logout' %}?next=/ " class="a_sig">Logout</a></div>
    </div>
    {% else %}
    <!-- Если пользователь не авторизован, то отображаем блок авторизации -->
    <div class='autorization_block'>
        <div class='sig_in_section' id="logout_button2"><a href="{% url 'login' %}" class="a_sig">Sig in</a></div>
        <div class='sig_up_section' id="logout_button3"><a href="{% url 'sign_up' %}" class="a_sig">Sig up</a></div>
    </div>
    {% endif %}
<div class="archive">
    {% for post in posts %}
    <div class="one-post">

        <h2 class="post-title"><a href="http://127.0.0.1:8000/article/{{ post.id }}">{{ post.title }}</a></h2>
        <div class="article-info">
            <div class="article-author">{{ post.author.username }}</div>
            <div class="article-created-date">{{ post.created_date }}</div>
        </div>
        <p class="article-text">{{ post.get_excerpt }}</p>
    </div>
    {% endfor %}
</div>
</body>