<!DOCTYPE html>
<html>
<head>
    <title>Django Public Blog - создать статью</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/static/post.css">
</head>
<body>
<div class="content">
    <h1>Написать статью</h1>
    <form method="POST">{% csrf_token %}
        <input type="text" name="title" placeholder="Название статьи" value={{ form.title }}>
        <textarea id="text_ar" name="text" placeholder="Текст статьи">{{ form.text }}</textarea>
        <input type="submit" value="Сохранить">
    </form>
    {{ form.errors }}
</div>
</body>
</html>
