body {
    background: #a968a133;
    font-family: Tahoma, Arial, sans-serif;
}

form {
    display: grid;
}

#text_ar {
    height: 100px;
}

form * {
    margin: 0px 0px 12px 0px
}

a {
color: white;
}